@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

body {
  background: hsl(0, 0%, 98%);
  transition: background 0.2s linear;
}

body.dark {
  background: hsl(207, 26%, 17%);
  transition: background 0.2s linear;
}

main {
  max-width: 100%;
  padding: 0 calc(((100vw - 1168px) / 2));
  margin: 0 auto;
}

.container {
  max-width: 100%;
  margin-bottom: 5%;
}

@media (max-width: 768px) {
  main {
    padding: 0 30px;
  }
}

@media (max-width: 480px) {
  main {
    padding: 0 10px;
  }
}
